In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Reading in the csv files
csv_file1 = "Resources/netflix_titles.csv"
csv_file2 = "Resources/movie_metadata.csv"
netflix_movies = pd.read_csv(csv_file1)
other_movies = pd.read_csv(csv_file2)
#Showing the first few rows of each file
netflix_movies.head()
#other_movies.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [3]:
new_netflix_movies = netflix_movies[['title', 'type', 'country', 'director', 'release_year', 'rating']]
new_netflix_movies.head()

,title,type,country,director,release_year,rating
0,Norm of the North: King Sized Adventure,Movie,"United States, India, South Korea, China","Richard Finn, Tim Maltby",2019,TV-PG
1,Jandino: Whatever it Takes,Movie,United Kingdom,NaN,2016,TV-MA
2,Transformers Prime,TV Show,United States,NaN,2013,TV-Y7-FV
3,Transformers: Robots in Disguise,TV Show,United States,NaN,2016,TV-Y7
4,#realityhigh,Movie,United States,Fernando Lebrija,2017,TV-14

In [4]:
cleaned_netflix = new_netflix_movies[new_netflix_movies.type != 'TV Show']
cleaned_netflix.head()

,title,type,country,director,release_year,rating
0,Norm of the North: King Sized Adventure,Movie,"United States, India, South Korea, China","Richard Finn, Tim Maltby",2019,TV-PG
1,Jandino: Whatever it Takes,Movie,United Kingdom,NaN,2016,TV-MA
4,#realityhigh,Movie,United States,Fernando Lebrija,2017,TV-14
6,Automata,Movie,"Bulgaria, United States, Spain, Canada",Gabe Ibáñez,2014,R
7,Fabrizio Copano: Solo pienso en mi,Movie,Chile,"Rodrigo Toro, Francisco Schultz",2017,TV-MA

In [5]:
new_other_movies = other_movies[['movie_title', 'genres', 'director_name', 'title_year', 'country', 'budget', 'gross', 'imdb_score', 'content_rating']]
new_other_movies.head()

,movie_title,genres,director_name,title_year,country,budget,gross,imdb_score,content_rating
0,Avatar,Action|Adventure|Fantasy|Sci-Fi,James Cameron,2009.0,USA,237000000.0,760505847.0,7.9,PG-13
1,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy,Gore Verbinski,2007.0,USA,300000000.0,309404152.0,7.1,PG-13
2,Spectre,Action|Adventure|Thriller,Sam Mendes,2015.0,UK,245000000.0,200074175.0,6.8,PG-13
3,The Dark Knight Rises,Action|Thriller,Christopher Nolan,2012.0,USA,250000000.0,448130642.0,8.5,PG-13
4,Star Wars: Episode VII - The Force Awakens ...,Documentary,Doug Walker,NaN,NaN,NaN,NaN,7.1,NaN

In [8]:
new_other_movies.rename(columns={'movie_title': 'title', 'director_name': 'director', 'title_year': 'release_year', 'content_rating':'rating'},inplace=True)
cleaned_other_movies = new_other_movies
cleaned_other_movies.head()

,title,genres,director,release_year,country,budget,gross,imdb_score,rating
0,Avatar,Action|Adventure|Fantasy|Sci-Fi,James Cameron,2009.0,USA,237000000.0,760505847.0,7.9,PG-13
1,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy,Gore Verbinski,2007.0,USA,300000000.0,309404152.0,7.1,PG-13
2,Spectre,Action|Adventure|Thriller,Sam Mendes,2015.0,UK,245000000.0,200074175.0,6.8,PG-13
3,The Dark Knight Rises,Action|Thriller,Christopher Nolan,2012.0,USA,250000000.0,448130642.0,8.5,PG-13
4,Star Wars: Episode VII - The Force Awakens ...,Documentary,Doug Walker,NaN,NaN,NaN,NaN,7.1,NaN

In [14]:
cleaned_netflix.to_csv(r'cleaned_netflix.csv')

In [15]:
cleaned_other_movies.to_csv(r'cleaned_other_movies.csv')